<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leprosorium</title>
  </head>
  <body>
    <h2>Latests posts:</h2>

    <% @results.each do |post| %>
      <p>
        <%= post['content'] %>
        <br>
        <br>
        <small>Added at:</small> <%= post['created_date'] %>
        <br>
        <br>
        <a href="/details/<%= post['id'] %>">Comments</a>
      </p>
      <hr/>
    <% end %>

  </body>
</html>
