<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leprosorium</title>
  </head>
  <body>
    <h2>Add new post</h2>

    <p>
      <form action="/new" method="post">


          <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type your text here"></textarea>
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </p>

  </body>
</html>
